@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: #F3F5FC;
}
/* -----------------ENCABEZADO--------------------- */
header{
    width: auto;
    height: 40px;
    font-weight: bold;
    padding: 40px 20px 0px 20px;
    font-size: 25px;
}
nav{
    display: flex;
}
nav img{
    width: 85px;
    height: auto; /* Mantiene la proporción de la imagen ajustando automáticamente la altura */
}
/* ------------------------MAIN------------------------ */
.contenedor{
    display: flex;
    justify-content: space-evenly;
}
/* ----------------------TEXAREA------------------ */
.campo-encriptador{
    padding-top: 30px;
}

.input-texto{
    background: #F3F5FC;
    width: 800px; /* Ancho del textarea */
    height: 470px; /* Altura del textarea */
    font-size: 20px;
    padding: 20px 0 0 20px;
}
.mensaje{
    display: flex;
    padding: 10px;
}
.mensaje img{
    width: 15px;
    height: auto;
}
.mensaje p {
    font-size: 14px;
    padding-left: 10px ;
}
.botones{
    display: flex;
    justify-content: space-evenly;
}
.encriptar{
    width: 200px;
    height: 45px;
    border-radius: 24px;
    padding: 12px 30px 12px 30px;
    background: #0a3871;
    color: white;
    font-size: 15px;
}
.desencriptar{
    width: 200px;
    height: 45px;
    border-radius: 24px;
    padding: 12px 30px 12px 30px;
    font-size: 15px;
    border: 1px solid #0a3871;
    background: #D8DFE8;
}
/* ----------------------------AREA DEL TEXTO-------------------- */
.area-texto{
    background: white;
    width: 300px;
    height: 570px;
    border: 2px solid #000000;
    border-radius: 32px;
    margin: 25px 0 20px 0;
    text-align: center;
    overflow: auto;
    flex-direction: column; /* Coloca los elementos en una columna */
    justify-content: space-between; /* Distribuye el espacio verticalmente */
}
.area-texto img{
    width: 200px;
    height: auto;
    padding-top: 70px;
}
.area-texto h2{
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
}
.area-texto p{
    font-size: 15px;
    padding: 10px;
}
.area-texto:hover{
    box-shadow: 0px 24px 32px -8px;
}
.area-texto .textoNuevo{
    font-size: 18px;
    padding: 30px;
    text-align: left;
    line-height: 1.5;
}
.area-texto #botonOculto {
    display: none;
    border-radius: 24px;
    padding: 12px 30px 12px 30px;
    font-size: 15px;
    border: 1px solid #0a3871;
    background: #ffffff;
    width: 200px;
    height: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
}

/* --------------------- FOOTER --------------------*/
footer{
    display: flex;
    justify-content: center;
    background: #bcffd2;
    width: auto;
    height: 60px;
    font-weight: bold;
}
footer p{
    font-size: 14px;
    padding-top: 22px;
    padding-right: 15px;
}
footer img{
    width: 33px;
    height: auto;
    padding-top: 11px;
}
footer img:hover{
    box-shadow: 0px 24px 32px -8px;
}
@media screen and (max-width:769px){
    header h1{
        font-size: 25px;
        margin-top: 5px;
    }
    /* ------------------------MAIN------------------------ */
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    /* ----------------------TEXAREA------------------ */
    .input-texto{
        width: 615px;
        height: 470px; 
        margin: 0 0 0 51px;
        line-height: 1.5;
        font-size: 18px;
    }
    .mensaje{
        margin-left: 40px;
        padding: 18px 0 18px 12px;
    }
    .mensaje p {
        font-size: 16px;
        padding-left: 10px ;
    }
    .botones{
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    .encriptar, .desencriptar{
        width: 300px;
        height: 45px;
        margin-inline: 10px;
        font-size: 17px;
    }
    /* ----------------------------AREA DEL TEXTO-------------------- */
    .area-texto{
        width: 634px;
        height: 500px;
        margin-left: 51px;
        margin-bottom: 40px;
    }
    .area-texto img{
        padding-top: 20px;
    }
    .area-texto h2, .area-texto p{
        font-size: 20px;
        padding: 10px;
    }
    .area-texto .textoNuevo,.area-texto p{
        font-size: 17px;
    } 
    .area-texto #botonOculto {
        font-size: 17px;
        width: 550px;
        height: 45px;
        margin-left: 42px;
    }
    /* --------------------- FOOTER --------------------*/
    footer p{
        font-size: 15px;
    }
    footer img{
        width: 30px;
        height: auto;
        padding-top: 15px;
    }
}

@media screen and (max-width:480px){
    /* -----------------ENCABEZADO--------------------- */
    header{
        width: auto;
        height: 20px;
    }
    .titulo{
        display: none;
    }
    nav img{
        width: 80px;
        height: auto;
        margin-left: -26px;
        margin-top: -11px;
    }
    /* ------------------------MAIN------------------------ */
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    /* ----------------------TEXAREA------------------ */
    .input-texto{
        width: 345px;
        height: 300px; 
        font-size: 16px;
        padding: 10px;
        margin-left: 22px;
    }
    .mensaje{
        padding: 12px 0 12px 50px;
    }
    .mensaje p {
        font-size: 13px;
        padding-left: 5px ;
    }
    .botones{
        display: grid;
    }
    .encriptar, .desencriptar{
        font-size: 14px;
        margin-bottom: 10px;
        width: 250px;
        height: 42px;
    }
    /* ----------------------------AREA DEL TEXTO-------------------- */
    .area-texto{
        width: 362px;
        height: 400px;
        margin-top: 10px;
        margin-left: 23px;
    }
    .area-texto img{
        width: 120px;
        height: auto;
        padding-top: 50px;
    }
    .area-texto h2{
        font-weight: bold;
        font-size: 15px;
    }
    .area-texto p, .area-texto .textoNuevo{
        font-size: 15px;
        padding: 20px;
        line-height: 1.5;
    }
    .area-texto #botonOculto {
        font-size: 14px;
        width: 250px;
        height: 42px;
        margin-left: 29px;
        margin-bottom: 20px;
    }
    /* --------------------- FOOTER --------------------*/
    footer{
        display: grid;
        align-content: center;
        justify-items: center;
        width: auto;
        height: 100px;
    }
    footer p{
        font-size: 13px;
        margin-left: 21px;
    }
    footer img{
        width: 30px;
        height: auto;
        padding-top: 10px;
    }
}